<!DOCTYPE html>
<html>
<head>
	<title>AddRow</title>
	<link rel="stylesheet" type="text/css" href="/style.css">
</head>
<body>
<%= loginBar %>


<h1>You have added a new row to the database!</h1>
<a href="/admin">Go back to Admin Page</a>
</body>
</html>